body.about {
  .content {
    @media #{$media-desktop} {
      align-self: flex-end;
      flex-grow: 1;
    }

    .who {
      font-family: 'Abril Fatface', cursive;
      text-align: right;

      > * {
        margin-bottom: $global-padding / 2;
        &:last-child {
          margin-bottom: 0;
        }
      }

      .name {
        font-size: 4rem;
      }

      .profession {
        font-size: 2rem;
      }

      svg.ruler {
        @media #{$media-desktop} {
          max-width: 20rem;
        }

        @media #{$media-mobile} {
          align-self: center;
          height: auto;
        }
      }
    }
  }

  .illustration {
    display: block;

    @media #{$media-desktop} {
      height: calc(100vh - #{2 * $global-padding});
    }

    @media #{$media-mobile} {
      width: calc(100vw - #{$global-padding});
      align-self: center;
    }
  }
}
