@import 'configuration';

body.about {
  justify-content: flex-start;

  .content {

    @media #{$media-desktop} {
      height: calc(100vh - #{2 * $global-padding});
      max-height: 30rem;

      align-self: center;
      flex-grow: 1;

      align-items: stretch;
      justify-content: center;

      flex-direction: row;
    }

    .who {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      font-family: 'Abril Fatface', cursive;
      text-align: right;

      @media #{$media-desktop} {
        max-width: 20rem;
      }

      @media #{$media-mobile} {
        margin-bottom: $global-padding / 2;
      }

      > * {
        margin-bottom: $global-padding / 2;
        &:last-child {
          margin-bottom: 0;
        }
      }

      .name {
        .first-name {
          font-size: 6rem;
        }
        .last-name {
          font-size: 4rem;
        }
      }

      .profession {
        font-size: 2rem;
      }

      svg.ruler {
        fill: $font-color;
        @media #{$media-desktop} {
          max-width: 20rem;
        }

        @media #{$media-mobile} {
          align-self: center;
          height: auto;
        }
      }
    }

    .illustration {
      @media #{$media-mobile} {
        width: 100%;
      }
      @media #{$media-desktop} {
        order: -1;
        margin-right: $global-padding;
        height: 100%;
      }
    }
  }
}
