@import 'configuration';

html {
  height: 100vh;
}

body {
  display: flex;

  @media #{$media-desktop} {
    min-height: calc(100vh - #{2 * $global-padding});
    padding: $global-padding;
    justify-content: space-between;

    > * {
      margin-right: $global-padding;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media #{$media-mobile} {
    min-height: calc(100vh - 5rem);
    padding: $global-padding / 2;
    flex-direction: column;

    > * {
      margin-bottom: $global-padding / 2;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  font-family: 'Cutive Mono', monospace;
  background-color: white;
}

.content {
  display: flex;
  flex-direction: column;

  @media #{$media-desktop} {
    align-self: flex-end;
    align-items: flex-end;

    > * {
      margin-bottom: $global-padding;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media #{$media-mobile} {
    > * {
      margin-bottom: $global-padding / 2;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
