@import 'configuration';

.title {
  text-align: right;
  @media #{$media-desktop} {
    font-size: 5rem;
  }
  @media #{$media-mobile} {
    font-size: 3rem;
  }

  font-family: 'Oswald', sans-serif;
  color: $title-color;
}

.text {
  @media #{$media-desktop} {
    max-width: 30rem;
  }
}

a {
  color: inherit;
}

button.link {
  font-family: inherit;
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  color: $font-color;
}
